/* .sections > div {
  text-align: center;
  scroll-snap-align: start;
  flex: none;
} */
.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
}
.anchorSection {
  height: 0;
  overflow: hidden;
  display: block;
}
